.map-section {
    position: relative;
    color: #404041;
    &_mapcontent {

        &-text {
            margin-top: 2rem;
            margin-bottom: 1.5em;
            font-size: 1.2em;
            @media (min-width: 992px) {
                font-size: 1.75em;
                font-weight: 400;
                padding-inline: 8rem;
            }
        }
    }
    b {
        color: #232C61;
    }
    .super-map {
        position: relative;
        min-height: 300px;
        overflow: hidden;
        
        @media (min-width: 576px){
           aspect-ratio: 1900/1046;
        }

        @media (min-width: 1400px){
            margin-left: 300px;
         }
    }
    .numbers-container {
        display: flex;
        flex-direction: column;
        background-color: #F6F7FB;
        justify-content: space-around;
        align-items: center;
        padding-block: 1rem;

        @media (min-width: 576px){
            flex-direction: row;
        }

        // & >* {
        //     flex-basis: 30px;
        //     flex-grow: 1;
        // }
    }
    
    .quntity {
        color: #2F9FEE;
        font-weight: 700;
        font-size: 1.5rem;
    
        @media (min-width: 992px) {
            font-size: 2.5rem;
    
    
        }
    }
    
    .type {
        background-color: #F6F7FB;
        padding: 0.3em 0.5em;
        border-radius: 15px;
        font-size: .9rem;
        display: block;
    
        @media (min-width: 992px) {
            font-size: 1rem;
    
        }
    }
    
    span.quntity span {
        display: inline-block;
    }
    .iso-image-container {

        width: 100%;
        max-width: 500px;
        margin-inline: auto;
        padding: 1rem;
    }
    .isoImg {
        position: relative;
        left: auto;
        max-width: 190px !important;
        margin-bottom: 1em;
        margin-inline: auto;
        display: block;
        // @media (min-width: 992px) {
        //     max-width: 360px !important;
    
        // }
    }
}