
/* Sacar el scroll con el video del nuevo nombre */
html:has(.new-name-video-modal) {
    overflow: hidden
}
/* para que los modales se vean arriba del bot */
.modal {
    z-index: 19999 !important;
}

.new-name-video-modal {


    .modal-close-button {
        background-color: #00000033;
        border-radius: 50%;
        border: none; color: white;
        font-size: 2rem;
        padding: 0.5rem;
        display: block;
        line-height: 0;
        color: #ffffff88;

        &:hover {
            background-color: #00000055;
            color: #ffffffdd;
        }
    }


}