
.tick-pills{
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-row-gap: 1.5em;
  text-align: left!important;
  font-size: 3vw;
  @media (min-width: 576px) {
    font-size: 1.5vw;
  }
}

.tick-pills > div {
  border-radius: 30rem;
  box-shadow: -0.31em 0.31em #00000021;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  padding: 0.3em 1em;
  gap: 1em;
  line-height: 0.9em;
}

.tick-pills i {
  color: #309fee;
  font-size: 1.1em;
}